@page "/"

    <md-tab-group>
        <md-tab label="Tab 1">
            <object data="https://www.sunilvijayan.com"
                    type="text/html"
                    style="height:calc(100vh - 70px)"
                    width="100%">
                <p>
                    <b>Example fallback content</b>: This browser does not support PDFs.
                    Please download the PDF to view it:
                    <a href="/pdf/sample-3pp.pdf">Download PDF</a>.
                </p>
            </object>
        </md-tab>
    </md-tab-group>