@page "/SwaggerPage"

@*data="http://localhost:51891/swagger"*@
        <md-tab-group>
            <md-tab label="Tab 1">
                <object 
                       
                        data="https://192.168.1.9:45456/swagger"
                        type="text/html"
                        style="height:calc(100vh - 70px)"
                        width="100%">
                    @*<p>
                        <b>Example fallback content</b>: This browser does not support PDFs.
                        Please download the PDF to view it:
                        <a href="/pdf/sample-3pp.pdf">Download PDF</a>.
                    </p>*@
                </object>
            </md-tab>
        </md-tab-group>